.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
a {
  text-decoration: none;
  opacity: 0.75;
  color: #fff;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: rgb(229, 174, 73);
  opacity: 1;
  transition: all 400ms;
}

.btn:hover {
  background-color: rgb(229, 174, 73);
  opacity: 0.7;
  cursor: pointer;
}
.icon-hover:hover {
  transform: scale(1.4);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.image_demo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.tieuchi {
  font-family: "Lobster", cursive;
  margin-bottom: 20px;
  font-size: 3rem;
  animation: slideIn 1s;
}
.image_ptr {
  filter: grayscale(100%);
  transition: 0.5s ease;
}
.image_ptr:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}
.phone-call {
  width: 50px;
  height: 50px;
  left: 40px;
  bottom: 40px;
  background: #10b418;
  position: fixed;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  z-index: 99;
  display: inline-block;
  line-height: 65px;
}

.phone-call:before {
  position: absolute;
  content: " ";
  z-index: -1;
  top: -15px;
  left: -15px;
  background-color: #10b418;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  opacity: 0.6;
  -webkit-animation: pulse 1s ease-out;
  animation: pulse 1.8s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.phone-call2 {
  width: 50px;
  height: 50px;
  left: 40px;
  bottom: 120px;
  background: #3bb1e7;
  position: fixed;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  z-index: 99;
  display: inline-block;
  line-height: 65px;
}

.phone-call2:before {
  position: absolute;
  content: " ";
  z-index: -1;
  top: -15px;
  left: -15px;
  background-color: #67add6 !important;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  opacity: 0.6;
  -webkit-animation: pulse 1s ease-out;
  animation: pulse 1.8s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0.3);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.6);
    opacity: 0.6;
  }
  75% {
    -webkit-transform: scale(0.9);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0.3);
    opacity: 1;
  }
  50% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  75% {
    transform: scale(0.9);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
